fastapi
uvicorn
python-dotenv
python-multipart
pymupdf
faiss-cpu
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-nvidia-ai-endpoints
langchain-huggingface
sentence-transformers
Pillow
pillow-heif
filetype
requests
pydantic
